@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');
@font-face {
    font-family: 'Chode';
    src: local('Chode'), url(./fonts/code/ChodeBold.otf) format('truetype');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Arimo', sans-serif;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: #E700A6;
}